<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Customer List</title>
<style type="text/css">

table{

border: 1px solid blue;

border-collapse: collapse;

margin-left: auto;

margin-right: auto;
}

tr,td,th{

border:  1px solid blue;

}

.centerText{

text-align: center
}
</style>
</head>
<body>
<h1 class="centerText">Customer Details</h1>


<table>

<thead>

<tr>
<th>Customer Name</th>
<th>Customer Type</th>
<th>Email</th>
<th>Mobile Number</th>
</tr>
</thead>

<tbody>

<tr th:each="eachCustomer : ${list}">

            <td th:text="${eachCustomer.customerName}"></td>
                        <td th:text="${eachCustomer.customertype}"></td>
                        <td th:text="${eachCustomer.email}"></td>
                        <td th:text="${eachCustomer.mobileNumber}"></td>
            
</tr>
</tbody>

</table>
</body>
</html>